Login or Signup


<div style="display:flex">
    <div style="flex:0.5">
        Login
        <%= link_to 'Login', entertainers_login_path %>
        </div>

    <div style="flex:0.5">
        Register
        </div>
</div>
