<div style="color: white;">

Waiting for Performer Approval<br>
You will be notified once approved...

<div class="nav-flicker" style="font-size: 10em">
<%= render partial: 'shared/timer' %>
</div>

</div>