<div style="display:flex">
  <div style="flex:0.5">   
    <%= link_to clients_home_path, class: 'neon-button' do %>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Client's Login
    <% end %>
  </div>

  <div style="display:flex">
  <div style="flex:0.5">   
    <%= link_to performers_home_path, class: 'neon-button' do %>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Performer's Login
    <% end %>
  </div>