HOME

<div style="display:flex">
    <div style="flex:0.5">
        Client
        <%= link_to "Client's Page"%>

        </div>
    

    <div style="flex:0.5">
        Artist
        <%= link_to "Entertainer's Page", entertainers_home_path %>

        </div>

</div>