Client Login Register


<div style="display:flex">
    <div style="flex:0.5">
        Login
        <%= link_to 'Login', clients_login_path %>
        </div>

    <div style="flex:0.5">
        Register
        <%= link_to 'Register', clients_register_path %>
        </div>
</div>
