<div class="club-stage" style="height:100vh; width: 100%;">	

	<div style="display:flex;">
		<div class="side-bar-menu">
			<%= render "navigation" %>		
		</div>	

		<div class="right">
				<div class="neon-container">
					<div class="flux">Guest</div>
					<div class="neon">Show</div>
					<div class="crab">Time</div>
				</div>

				<div class="neon-text" style="position:fixed;">
					<div class="lightbar"></div>
					<div class="topLayer"></div>
					<h2>MaMaママさん日本のKTV</h2>
				</div>
        
        </div>
    </div>
</div>

