.nav-flicker{
font-weight: 400;
font-size: 2em;
text-align: center;
text-transform: uppercase;
letter-spacing: 1px;
color: #fff;
text-shadow:
0 0 5px #fff,
0 0 10px #fff,
0 0 20px #fff,
0 0 40px rgb(0, 0, 0),
0 0 80px #0ff,
0 0 90px #0ff,
0 0 100px #0ff,
0 0 150px #0ff;
}

.nav-flicker span{
animation: flicker 1s infinite;
animation-delay: 4s;
opacity:1
}

.nav-flicker .delay1{
animation-delay: 1.2s;
}

.nav-flicker .delay2{
animation-delay: 1.5s;
}

.nav-flicker .delay3{
animation-delay: 1.7s;
}

@keyframes flicker {
0% {opacity: 0.1;}
10% {opacity: 0.7;}
20% {opacity: 0.5;}
40% {opacity: 0.8;}
50% {opacity: 0.4;}
60% {opacity: 0.9;}
80% {opacity: 0.7;}
100% {opacity: 1;}
}



