.background-container {
    background-image: url('/assets/nominor.jpg');   
  }

.opus-ktv{
    background-image: url('/assets/KTV.jpg');
    background-size: cover;
}

.hallway{
  background-image: url('/assets/hallway.jpg');
}

.club-stage{
    background-image: url('/assets/clubstage.jpg');
    background-size: cover;
}